# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
yarn.lock
.npmrc

# testing
/coverage

# build/compile artifacts
/build
/dist
/out
*.log

# IDE/Editor specific files
.vscode/
.idea/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# personal/sensitive files
.env

# ignore package management related files
package-lock.json
